# Service files
#~~~~~~~~~~~~~
*.out

*.o

*.log

callgrind.out.*

*.dot

*.txt
!The Lord of the Rings.txt
#~~~~~~~~~~~~~

# Not for release
#~~~~~~~~~~~~~~~~
Test/

TODO

strncmp.s
Optimized/Version_Final/
#~~~~~~~~~~~~~~~~
