# Service files
#~~~~~~~~~~~~~
*.out

*.o

*.d

*.log

callgrind.out.*

*.dot

*.txt
!The Lord of the Rings.txt
#~~~~~~~~~~~~~

# Not for release
#~~~~~~~~~~~~~~~~
Test/

TODO

strncmp.s
Optimized/Version_Final/
Optimized/Version_1_Old/
Optimized/Version_2/
Optimized/Version_3/
Optimized/Version_4/
#~~~~~~~~~~~~~~~~
