# Service files
#~~~~~~~~~~~~~
*.out

*.o

*.d

*.log

callgrind.out.*

*.dot

*.txt
!The Lord of the Rings.txt
!time.txt
#~~~~~~~~~~~~~

# Not for release
#~~~~~~~~~~~~~~~~
Some_Asm/
#~~~~~~~~~~~~~~~~
